*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build
*.native
setup.bin
setup.data
setup.log
.coverage/
lib_test/_tests

Makefile
_tags
configure
lib/META
lib/btree.mldylib
lib/btree.mllib
lib/btree.odocl
myocamlbuild.ml
setup.ml
